* {
    /* background-color: aqua; */
}

/* .mgsec{
    background-color: blueviolet;
} */

/* Details.css */
.detailcard {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    padding: 100px;
    gap: 50px;
}

.detailcard .dproductdetails p {
    font-size: 18px;
    text-align: start;
    margin-top: 20px;
    margin-bottom: 20px;
}
.detailcard .dproductdetails h3 {
    font-weight: 700;
    font-size: 30px;
    color: #232323;
    text-align: start;
}

.buttonaddtocart {
    border: solid 1.6px #232323;
    padding: 8px 25px;
    background-color: #f1f1f1;
    margin-top: 35px;
    border-radius: 8px;
    color: #232323;
    font-size: 16px;
    font-weight: 500;
    float: left;
    transition: ease-in .2s;
    letter-spacing: 1px;
}

.buttonaddtocart:hover {
  background-color: #232323;
  color: #FFF;
}

.buy {
    margin-left: 25px;
    background-color: rgb(77, 219, 77);
    color: white;
    border: 0px;
}
.dproductimage {
    border: 0px solid gray;
    /* padding: 25px; */
    box-shadow: 0px 0px 9px 0.5px #bcbcbc;
    border-radius: 10px;
}

.dproductimage img {
    max-height: 300px;
    max-width: 400px;
    border-radius: 10px;
}
