*{
    /* background-color: aqua; */
}

/* .mgsec{
    background-color: blueviolet;
} */


/* Details.css */
.detailcard {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    padding: 100px;

  }


  .detailcard .dproductdetails p {
  
    font-size: 22px;

  
  }
 .detailcard .dproductdetails h3 {
font-weight: 600;
font-size: 32px;
  }

  .buy{
    margin-left: 25px;
    background-color: rgb(77, 219, 77);
    color:white;
  border: 0px;
  }
  .dproductimage {
   border: 2px solid gray;
   padding: 25px;
   box-shadow: 0px 0px 15px 0.5px #888888;

  }
  
  .dproductimage img {
    max-height: 300px;
    max-width: 400px;
  }
  
  .dproductdetails {
    margin-right: 20px;
    font-size: 30px;
    margin-left: 50px;
  }
  