@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');

*{
  font-family: 'Playfair Display', serif;
  /* font-style: italic; */
  color: black;
margin: 0px;
}



.logo{

    font-weight: 600;
    font-style: italic;
    font-size: 50px;

}

.nav_Navlinks li a {
  text-align: left;
  font-weight: 600;

  text-decoration: none;
  color: black;
  margin:50px;
  /* box-shadow: 10px 5px #bab7b788; */
  font-size: 25px;

}
.nav_Navlinks li a:hover{
    box-shadow: 10px 5px #bab7b788;

}
.nav_Navlinks li a.active {
  color: #ff0000;}
/* .nav_Navlinks li a:visited{
    box-shadow: 10px 5px #bab7b788;
    color: blue;

} */

.nav_Navlinks {
  display: flex;
  list-style: none;
  justify-content: center;
  background-color:rgb(194 198 200 / 88%);
  height: 60px;
  padding: 10px;
  margin: auto;
  
}
.button{
  display: absolute;
  margin:auto
}


