.App {
    text-align: center;
    background-color: rgb(255, 255, 255);
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
} */
.crs {
    background-image: url("https://images.unsplash.com/photo-1540221652346-e5dd6b50f3e7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=869&q=80");
}

.carousel {
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 15px;
    border: 2px solid black;
    /* width: 98%;
  margin-left: 0%; */
}

.drop{
    height: 100%;
    width: 100%;
}

.drop-sub{
    width: 153px;
    height: auto;
    margin-left: auto;
}

.dropdown {
    font-size: 20px;
    border: solid 2px #212121;
    float: right;
    margin-right: 30px;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
/* .mainsearch {
    background-color: white;
    border: solid 2px #212121;
    border-radius: 5px;
    padding: 0px 10px;
} */
.mainsearch {
    background-color: white;
    border: solid 2px #212121;
    border-radius: 5px;
    padding: 5px; /* Adjust padding for smaller screens */
    width: 80%; /* Set the initial width to 80% of its container */
    max-width: 400px;/* Set a maximum width to prevent it from becoming too wide*/
    margin: 0 auto; /* Center the search box */
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .mainsearch {
        border: solid 2px #242424 !important; /* Add 'solid' to specify border style */
        width: 150px !important; /* Set width to a smaller value */
        max-width: none !important; /* Remove the maximum width restriction */
    }
}





.but {
    background-color: rgb(235, 235, 235);
    border: solid 2px #212121;
    border-radius: 5px;
    margin-left: 5px;
    padding: 0px 10px;
    /* color: white; */
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.App2 {
    display: Flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 10px;
}

.app2{
    background-color: white;
}

.card {
    border: 0px solid;
    box-shadow: 0px 0px 15px 0.5px #c0c0c0;
    display: flex;
    flex-direction: column;
    margin: 10px;
    transition: 0.5s;
    /* padding: 20px; */
    padding-top: 5px;
}
.card:hover {
    transform: scale(1.1);
}
/* .card img{
width:100%;
width:100%;


} */
.card img:hover {
    opacity: 0.3;
}

.product-name{
    font-size: 24px;
    font-weight: 700;
    color: #212121;
    margin-top: 8px;
    text-align: start;
    margin-left: 5px;
}

.card-item-price{
    font-size: 20px;
    font-weight: 400;
    color: #212121;
    text-align: start;
    margin: 5px 5px 10px;
}



/* .nav_links li {
  display: inline-block;
  padding:0 20px ;
} */
.detailcard {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid rgb(28, 24, 24);
    justify-content: first baseline;
}
.carousel {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    overflow: hidden; /* Hide any overflow */
}

.carousel-inner,
.carousel-item {
    /* Use flexbox to center the images vertically */
    align-items: center; /* Vertically center the images */
    justify-content: center; /* Horizontally center the images */
    max-height: 700px; /* Set the maximum height for the carousel items */
}

.carousel-item img {
    object-fit: contain; /* Ensure the image scales appropriately to fit the container */
    max-height: 100%; /* Set the maximum height of the image to the height of the carousel item */
    max-width: 100%; /* Set the maximum width of the image to the width of the carousel item */
}

.card-item-img{
    width: 300px;
    height: 300px;
    object-fit: fill;
}

